<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR</title>
    <link rel="stylesheet" href="{{ url_for('static',filename ='css/style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <img src="./static/{{image_path}}" style="max-width: 500px;max-height: 500px;margin:70px 500px 0px 500px;"    alt="qrcode" class="responsive">
    <br>
    <form action="/downloads" method="POST">
    <button class="btn" type="submit" name="room_no" class="btn btn-secondary" value="{{image_path}}">Download</button>
    </form>
    <br><br><br><br><br><br>
    <a href="{{url_for('viewUsers')}}"><button class="btn btn-primary">Back to home</button></a> 
</body>
</html>